@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #EFF8FA;  /* Azul claríssimo */
    --secondary-color: #8BE8FC;  /* Azul celeste */
    --accent-color: #8BA0FC;  /* Azul arroxeado */
    --highlight-color: #8BFCEC;  /* Verde água */
    --warning-color: #8BFCC6;  /* Verde claro */
    --soft-color: #8BC4FC;  /* Azul médio */

    /* Cores complementares */
    --text-dark: #1E1E1E; /* Preto suave para textos */
    --text-light: #FFFFFF; /* Branco puro */
    --background-light: #F0F9FF; /* Fundo claro */
    --background-dark: #102A43; /* Azul escuro para contrastes */
}

body {
    font-family: "Open Sans", serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-light);
}

header img {
    width: 180px;
    height: 180px;
}
   
   
header {
    height: 80px;
    background-color: var(--primary-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
   
header a {
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

header a:hover {
    text-decoration: dashed;
    color: var(--soft-color);
}

.button-logout {
    font-family: "Open Sans", serif;
    background-color: var(--highlight-color);
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    color: var(--background-dark);
    font-size: 15px;
    cursor: pointer;
}

.button-logout:hover {
    background-color: var(--background-dark);
    color: var(--highlight-color);
}
   
.bx {
    display: none;   
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

.slider-content {
    width: 300%;
    height: auto;
    display: flex;
}

.slider-content input {
    display: none;
}

.slide-box {
    width: 33.33%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

.navigation-manual, .navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

.navigation-manual .manual-btn, .navigation-auto div {
    border: 0.2px solid var(--background-dark);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.navigation-manual .manual-btn:not(:last-child), .navigation-auto div:not(:last-child) {
    margin-right: 10px;
}

.navigation-manual .manual-btn:hover {
    background-color: var(--background-dark);
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: var(--background-dark);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: var(--background-dark);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: var(--background-dark);
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -33.33%;
}

#radio3:checked ~ .first {
    margin-left: -66.66%;
}

main {
    background-color: var(--background-light);
    color: var(--text-dark);
}

.section-books {
    padding: 20px;
    margin-top: 60px;
}

.section-books h2 {
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 30px;
}

.book-list {
    display: flex;
    overflow-x: auto;
    justify-content: start;
    flex-direction: row;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 0px;
    cursor: pointer;
    margin-left: 20px;
}

.book:hover {
    filter: brightness(150%);
}

.book p {
    font-weight: 500;
}

.book img {
    width: 200px;
}

.section-books .more {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.section-books .button-more {
    font-family: "Open Sans", serif;
    width: 100px;
    height: 35px;
    padding: 5px 10px;
    background-color: var(--background-dark);
    color: var(--text-light);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 30px;
}

.button-more:hover {
    background-color: var(--highlight-color);
    color: var(--background-dark);
}

.search-sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: var(--background-dark);
    color: var(--text-light);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
    display: none; /* Escondido por padrão */
}

.search-sidebar input {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    font-family: "Open Sans", serif;
}

.search-sidebar input:focus {
    outline: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.footer {
    margin-top: 150px;
    width: 96.35%;
    padding: 50px 25px;
    background: #1e3a5f;
    color: #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer div {
    text-align: center;
}

.footer .col-2 {
    flex-grow: 0.9;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.footer .col-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

.footer form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

.footer form button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.footer .social-icons {
    margin-top: 30px;
}

.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
}

/* Estilização do modal */
dialog {
    width: 35%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    background: var(--background-light);
    text-align: center;
    height: auto;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content h3 {
    margin-bottom: 10px;
}

.modal-content label {
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 7px;
    font-weight: 13px;
}

.modal-content input, .modal-content textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--background-dark);
    border-radius: 5px;
}

#bookDescription {
    resize: none;
}

#bookCoverPreview {
    width: 120px;
    height: 160px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    object-fit: cover;
    display: none;
}

.modal-content button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

#closeModal {
    background: var(--background-dark);
    color: var(--warning-color);
}

#closeModal:hover {
    background: var(--accent-color);
    color: var(--text-dark);
}

.add-book-modal {
    background: var(--background-dark);
    color: var(--warning-color);
}

.add-book-modal:hover {
    background: var(--accent-color);
    color: var(--text-dark);    
}

/* Estilização do modal de visualização de livro */
.view-book {
    width: 60%;
    height: 50%;
    margin-top: 30px;
    background: var(--background-light);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block; 
    visibility: hidden; /* Evita que ele bloqueie a tela */
    gap: 15px;
    overflow-y: auto;
}

/* Mostrar o modal corretamente */
dialog[open] {
    visibility: visible;
}   

/* Ajuste para modal do elemento dialog */
.view-book::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

/* Layout da seção do livro dentro do modal */
.book-section {
    display: flex;
    text-align: start;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* Estilização do título e autor */
.book-autor {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.autor {
    font-size: 15px;
    color: #666;
}

/* Capa do livro */
.book-cover {
    width: 180px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Área de interações (favoritar, compartilhar, etc.) */
.more-modal {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
}

.more-modal a {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    transition: color 0.2s;
}

.more-modal a:hover {
    color: #8BA0FC;
}

/* Botões */
.book-section .previous {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.alugar-button, .previa-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

.alugar-button {
    background-color: mediumblue;
    color: white;
}

.alugar-button:hover {
    background-color: darkblue;
}

.previa-button {
    background-color: white;
    color: mediumblue;
    border: 2px solid mediumblue;
}

.previa-button:hover {
    background-color: mediumblue;
    color: white;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.2s;
}

.close-modal:hover {
    color: var(--warning-color);
}





