@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #EFF8FA;  /* Azul claríssimo */
    --secondary-color: #8BE8FC;  /* Azul celeste */
    --accent-color: #8BA0FC;  /* Azul arroxeado */
    --highlight-color: #8BFCEC;  /* Verde água */
    --warning-color: #8BFCC6;  /* Verde claro */
    --soft-color: #8BC4FC;  /* Azul médio */

    /* Cores complementares */
    --text-dark: #1E1E1E; /* Preto suave para textos */
    --text-light: #FFFFFF; /* Branco puro */
    --background-light: #F0F9FF; /* Fundo claro */
    --background-dark: #102A43; /* Azul escuro para contrastes */
}

.acervo-list {
    color: var(--background-dark);
    margin-left: 33%;
}

.add-book-button-list {
    font-family: "Open Sans", serif;
    font-size: 20px;
    width: 200px;
    height: 50px;
    padding: 5px 10px;
    background-color: var(--background-dark);
    color: var(--text-light);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 280%;
    margin-bottom: 40px;
}

.add-book-button-list:hover {
    background-color: var(--soft-color);
}